h1{
  margin:20px;
  font-weight:bold;
}
section{
  padding:30px 0;
  position:relative;
  margin-bottom:80px;
  overflow:hidden;
}
div.img-wrapper{
  background-image: url("../img/DetailsImg.jpg");
    min-height: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
/*   change the left side image width as like you want */
    width: 50%;
    left: 0;
}
p{
  padding: 20px;
}
ul{
	background-color:#FFF;
}

ul.about{
	background-color:#2E4057;
}

li.about{
	background-color:#2E4057;
}